*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite
/instance

# Virtual environment
venv

# Environment files
.env
.env-mysql

# PyCharmIDE 配置文件
.idea/

# 日志
logs/

# 本项目特殊忽略
文件结构.txt
文件结构2.txt
app/static/qrcodes/
